.navbar{
    width: 70%;
    margin: auto;
    border-bottom: 2px solid grey;
    height: 45px;
}

.photo{
    width: 100px;
    height: 25px;
    padding: 10px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.video{
    width: 100px;
    height: 25px;
    padding: 10px;
    float: left;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.active, .photo:hover, .video:hover, .favourite:hover {
    border-bottom: 2px solid red;
     color: red;
}

.favourite{
    width: 100px;
    height: 25px;
    padding: 10px;
    float: right;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}
